:root {
  --bg: #2B3036;
  --child-bg: #343A43;
  --child-bg-w-opacity: rgba(52, 58, 67, 0.6);
  --main-color: #B0B0B0;
  --child-color: #BCBCBC;
  --secondary-color: #888;
  --focus-ring: #267ce0;
  --focus-ring-highlighted: #368bed;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}


html {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body {
  height: 100vh;
  width: 100vw;
  overflow: auto;
  margin: 0;
  padding: 0;
  background-color: var(--bg);
  color: var(--main-color);
  font-family: "Roboto", "Helvetica Neue", -apple-system, BlinkMacSystemFont, Helvetica, Ubuntu, Roboto, Noto, "Segoe UI", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.mono {
  font-family: monospace;
}

.full-bg {
  position: fixed;
  height: 100vh;
  width: 100vw;
  z-index: -1;
  background-image: url(assets/sky.jpg);
  background-size: cover;
  background-position: bottom right;
  opacity: 0.2;
}

.content {
  width: 100%;
  height: 100%;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
}

.container {
  max-width: 560px;
  margin-top: 8rem;
}
/* 
.cards {
  margin: 4rem 0;
  max-width: 650px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.project {
  border-radius: 8px;
  padding: 0.8rem 0.6rem;
  background-color: var(--child-bg);
} */

.call-to-action {
  width: 100%;
  padding: 0.5rem 1rem;
  background-color: var(--focus-ring);
  border: 2px solid transparent;
  border-radius: 3px;
  color: #fff;
  font-weight: 900;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  transition: transform 0.2s;
  cursor: pointer;
}

.call-to-action:hover, .call-to-action:focus {
  background-color: var(--focus-ring-highlighted);
}

.call-to-action:active {
  transform: scale(1.02);
}

.call-to-action svg {
  width: 18px;
  height: 18px;
  margin-right: 0.4rem;
}

.call-to-action span {
  font-size: 0.9rem;
  font-size: 0.9rem;
}

h1 {
  margin: 0;
  font-size: 3.5rem;
  font-family: 'Roboto Slab', 'Times New Roman', Times, serif;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}

h2 {
  color: var(--secondary-color);
  margin: 0;
  margin-bottom: 2rem;
  font-weight: 500;
}

p {
  margin: 2rem 0 3rem;
  font-size: 1rem;
  line-height: 1.8rem;
  color: var(--child-color);
  font-weight: 400;
}

.point-of-contact {
  text-align: center;
  margin-top: 1rem;
  font-size: 0.9rem;
  cursor: default;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

.cursor {
  display: inline-block;
  width: 10px;
  margin-left: 0.4rem;
  margin-bottom: 0.2rem;
  height: 3.8rem;
  background-color: var(--focus-ring);
  animation: blink 1s step-start 0s infinite;
}

a {
  color: var(--focus-ring);
}

.email {
  display: block;
  color: var(--child-color);
  text-decoration: none;
  cursor: pointer;
}

.email:hover {
  text-decoration: underline;
}

